<main class="oe-home">
  
    <section class="container-fluid oe-mtop oe-page">

      <!--<div class="container oe-main-content oe-main-content-index">
        <div class="row">
          <div class="col-md-12 col-xs-12 oe-main-col">
            <article class="oe-page-article">
              <div class="row oe-row">
                <div class="col-md-12 col-xs-12">
                  <form method="post">
                    <div class="row">
                      <div class="form-group col-xs-12 oe-search-input">
                        <input type="text" placeholder="Search" id="search" class="form-control input-lg">
                        <button type="submit" class="btn oe-btn oe-btn-reflect oe-search-submit">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>-->


      <div class="row oe-row oe-full-banner oe-banner-repeat oe-main-content-index">
        <div style="background-image:url();" class="col-xs-12 col-md-4 col-md-offset-8 oe-col-non-pd oe-full-banner oe-block-float oe-float-vertical-centered dark-overlay dark-overlay-20"></div>
        <div class="container oe-mtop oe-mbot-2x oe-black">
          <div class="row oe-row">
            <div data-uk-scrollspy="{cls:'animate-started'}" class="col-xs-12 col-md-8 uk-scrollspy-init-inview uk-scrollspy-inview animate-started">
              <div class="text-left oe-text-captain" style="background-color: #fff; opacity: 0.75;padding: 35px; margin-bottom:50px">
                <h2>SnappyJob vision is to enrich life experience, education skills and improve lives.</h2>
                <p>Snappyjob was founded with the vision for sutdents who recognised the challenges faced by members of the student community on a range of issues such as cost of living, student life, access to part-time work and internship opportunities. It is perfect for students who wish to turn their free time and knowledge into a little extra money.</p>
                <p>Snappyjob brings you into direct contact with interesting sources that are looking for temporary, part-time, and occasional employees. If you are looking for a best offer to compliment your time and your life experience or even apply education skills into practice, we have a wide range of opportunities.</p>
                <p><i>Since the whole idea is based on "looking for jobs near your location"; So please click on "Current Location", and allow us to roughly locate your geographic to find snappyjobs near you. We never store your data.</i></p>
              </div>
              
              <div class="text-left" style="opacity:0.75">
                <div class="oe-callout oe-callout-reflect oe-effects oe-frombottom oe-animate-delay">
                  <i class="oe-callout-icon fa fa-database"></i>
                  <div class="oe-callout-content">
                    <h3>Multiple Sources!</h3>
                    <p>With over 10 data sources and updated daily. SnappyJob is a centralized database of gigjobs.</p>
                  </div>
                </div>
              </div>
              <div class="text-left" style="opacity:0.75">
                <div class="oe-callout oe-callout-reflect oe-effects oe-frombottom oe-animate-delay">
                  <i class="oe-callout-icon fa fa-cogs"></i>
                  <div class="oe-callout-content">
                    <h3>No Registration required!</h3>
                    <p>Snappyjob offers free service. We make you more confident and easier when looking for a job.</p>
                  </div>
                </div>
              </div>
              <div class="text-left" style="opacity:0.75">
                <div class="oe-callout oe-callout-reflect oe-effects oe-frombottom oe-animate-delay x2">
                  <i class="oe-callout-icon fa fa-picture-o"></i>
                  <div class="oe-callout-content">
                    <h3>Map View</h3>
                    <p>Google Maps with Street View lets you explore places around the and street-level imagery.</p>
                  </div>
                </div>
              </div>
              <div class="text-left" style="opacity:0.75">
                <div class="oe-callout oe-callout-reflect oe-effects oe-frombottom oe-animate-delay x3">
                  <i class="oe-callout-icon fa fa-magic"></i>
                  <div class="oe-callout-content">
                    <h3>Bookmark for later view</h3>
                    <p>If  you are interested in and don’t have time now, then you can bookmark for later.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid oe-fullwidth oe-mtop-2x oe-mbot-2x">
      <div data-uk-scrollspy="{cls:'animate-started',delay:500}" class="row oe-row oe-row-fullwidth uk-scrollspy-init-inview uk-scrollspy-inview animate-started">
        <div class="col-xs-12 oe-main-col text-center oe-effects oe-frombottom">
          <i class="red-heart fa fa-heart oe-mbot"></i>
          <h3 class="oe-text-light oe-non-space-top oe-mbot">Are you already in love with SnappyJob?</h3>
          <button class="btn oe-btn oe-btn-reflect-icon" ng-controller="headerController" ng-click="getCurrentLocation(searchParams)">
            <span>SEARCH SNAPPYJOBS NEARBY</span>
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </section>

</main> 