<footer class="oe-footer" ng-controller="footerController">
    <div class="oe-main-foot oe-white">
      	<div class="container">
        	<div class="row">
          	<section class="col-md-3 col-sm-6 col-xs-12">
            	<h5>About SnappyJob</h5>
          		<div class="oe-foot-content">
          			 <p>SnappyJob is a portal for students who want to seek occasional jobs , part-time jobs, gig jobs or as we call it snappy jobs. </p>
          			 <!--<p>If you are looking for help from students. Use our easy to post to connect with candidates and get contacted through your email address. We encrypt your email so candidates will have to use our form to email you the first time.</p>-->
                 <p>We have collected student jobs from multiple reliable and credited resources. We made it easy and fun for students to find the right gigs.</p>
          		</div>
          	</section>
			      <section class="col-md-3 col-sm-6 col-xs-12">
            	<h5>Keep in touch.</h5>
              <div share-square="true" share-links="Facebook, Twitter, LinkedIn, Google-Plus" share-title="Article Title"></div>
            	<div class="oe-foot-content oe-footer-social">
              		<ul class="fa-ul fa-ul oe-ul">
                		<li>
                			<i class="fa-li oe-li fa-fw fa-2x oe-li-fw-2x fa fa-map-marker oe-text-reflect"></i>&nbsp;Virginia US
                  		</li>
                		<li>
                			<i class="fa-li oe-li fa-fw fa-2x oe-li-fw-2x fa fa-mobile oe-text-reflect"></i>&nbsp;612-770-0166
                		</li>
                		<li>
                			<i class="fa-li oe-li fa-fw fa-2x oe-li-fw-2x fa fa-envelope-o oe-text-reflect"></i>&nbsp;snappyjob@snappyjob.net
                		</li>
              		</ul>
            	</div>
          	</section>
          	<section class="col-md-6 col-xs-12">
            	<h5>Contact Us</h5>
            	<div class="oe-foot-content">
              		<form id="contact-us">
                		<div class="row">
                  			<div class="form-group col-sm-4 col-xs-12">
                    			<label class="sr-only" for="contactFormName">Fullname</label>
                    			<input type="text" class="form-control input-lg" id="contactFormName" placeholder="Your Name">
                  			</div>
                  			<div class="form-group col-sm-4 col-xs-12">
                    			<label class="sr-only" for="contactFormEmail">Email</label>
                    			<input type="text" class="form-control input-lg" id="contactFormEmail" placeholder="Your Email">
                  			</div>
                  			<div class="form-group col-sm-4 col-xs-12">
                    			<label class="sr-only" for="contactFormAddress">Address</label>
                    			<input type="text" class="form-control input-lg" id="contactFormAddress" placeholder="Your Address">
                  			</div>
                  			<div class="form-group col-xs-12">
                    			<label class="sr-only" for="contactFormContent">Content</label>
                    			<textarea class="form-control" id="contactFormContent" rows="5"></textarea>
                  			</div>
                  			<div class="form-group col-xs-12">
                    			<button ng-click="submit()" class="btn oe-btn oe-btn-reflect-icon">
                      				<span>SEND</span>
                      				<i class="fa fa-arrow-right"></i>
                    			</button>
                  			</div>
                		</div>
                  </form>
            	</div>
          	</section>
        </div>
      </div>
    </div>
</footer>


<div class="loading-overlay">
	<div>
		<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;&nbsp;
		<span>Please wait...</span>
	</div>
</div>