@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli.eot?') format('eot'), url('../fonts/Muli.woff') format('woff'), url('../fonts/Muli.ttf') format('truetype'), url('../fonts/Muli.svg#Muli') format('svg');
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/MuliItalic.eot?') format('eot'), url('../fonts/MuliItalic.woff') format('woff'), url('../fonts/MuliItalic.ttf') format('truetype'), url('../fonts/MuliItalic.svg#Muli-Italic') format('svg');
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/MuliLight.eot?') format('eot'), url('../fonts/MuliLight.woff') format('woff'), url('../fonts/MuliLight.ttf') format('truetype'), url('../fonts/MuliLight.svg#Muli-LightItalic') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'MuliLightItalic';
  src: url('../fonts/MuliLightItalic.eot?') format('eot'), url('../fonts/MuliLightItalic.woff') format('woff'), url('../fonts/MuliLightItalic.ttf') format('truetype'), url('../fonts/MuliLightItalic.svg#Muli-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
